@using DissidiaWebUI.Models.Enums

<p>Name: @RenderAttack.Name Frames: @RenderAttack.Frames Priority: @Enum.GetName(typeof(PriorityType), RenderAttack.Priority)</p>
<p>Description: @RenderAttack.Description</p>
