<EditForm Model=@_currentBuildModel OnValidSubmit=SaveBuild>
    <InputFile OnChange="OnInputFileChange"/>
    <div class="form-group">
        <span class="input-group-text">Description</span>
        <InputText class="form-control" @bind-Value=_currentBuildModel.Description/>
    </div>
     <button type="submit" class="btn btn-primary">Submit</button>
     <button @onclick=_blazoredModalInstance.CancelAsync class="btn btn-secondary">Cancel</button>
 </EditForm>