<Collapsable Title="Videos" Collapsed="true">
    @if (IsAuthenticated)
    {
        <button @onclick="@(() => ShowAddVideoForm())" type="button" class="btn btn-link">Add Video</button>
        <br />
    }
    @foreach (var video in Videos)
    {
        <Video RenderVideo=@video HandleDropdownButtonSelect=HandleDropDownSelection IsAuthenticated=@IsAuthenticated/>
        <br />
    }
</Collapsable>

