@page "/Character/{CharacterId}"

<CharacterSelector CharacterId=@currentId/>

@*TODO: Make into read only form elements, and provide edit buttons for each already submitted text, also include a way to add new attacks, builds, and videos*@
<h1>Name: @_characterModel.Name</h1>
<p class="lead">Description: @_characterModel.Description</p>

<DisplayAttacks Attacks=@_characterModel.Attacks/>
<DisplayBuilds Builds=@_characterModel.Builds/>
<p>Common Strategies: @_characterModel.CommonStrategy</p>
<DisplayVideos Videos=@_characterModel.Videos/>
