<Collapsable Title="Builds" Collapsed="true" Value ="">
    @if (IsAuthenticated)
    {
        <button @onclick="@(() => ShowAddBuildForm())" type="button" class="btn btn-link">Add Build</button>
        <br/>
    }
    @foreach (var build in Builds)
    {
        <Build RenderBuild=build IsAuthenticated=IsAuthenticated HandleDropdownButtonSelect=HandleDropDownSelection/>
    }
</Collapsable>
