@page "/Character"
@page "/Character/{CharacterId}"
@using DissidiaWebUI.Helpers
@inject AuthenticationStateProvider authenticationState
@inject IConfiguration config
<PageTitle>Character Guides</PageTitle>
<CharacterSelector CharacterId=@currentId/>

<EditForm Model=_characterModel OnValidSubmit=SaveCharacter>
    <div class="mb-3">
        <span class="input-group-text">Description</span>
        <InputTextArea disabled=@{!_isAuthenticated} class="form-control" @bind-Value=@_characterModel.Description/>
    </div>
    <div class="mb-3">
        <span class="input-group-text">Common Strategy</span>
        <InputTextArea class="form-control" disabled=@{!_isAuthenticated} @bind-Value=@_characterModel.CommonStrategy/>
    </div>
    <DisplayAttacks Attacks=@_characterModel.Attacks isAuthenticated=@_isAuthenticated/>
    <DisplayBuilds Builds=@_characterModel.Builds IsAuthenticated=@_isAuthenticated/>
    <DisplayVideos Videos=@_characterModel.Videos IsAuthenticated=@_isAuthenticated/>
    @if (_isAuthenticated)
    {
        <button type="submit" class="btn btn-primary">Save</button>  
    }
</EditForm>

