@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello and welcome to Dissidia 012 Character Guides & Matchup Data</h1>
<br/>

<h3>The information provided here has been provided by the BashBrothas.</h3>

<h4><a href="https://github.com/AdamWyatt34/DissidiaApp/issues">Submit Issues or Ideas</a></h4>
