<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);"
     aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete @Text?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick=@ModalOk>Yes</button>
                <button type="button" class="btn btn-secondary" @onclick="@ModalCancel">Cancel</button>
            </div>
        </div>
    </div>
</div>
 
@code {
    [CascadingParameter] 
    BlazoredModalInstance _blazoredModalInstance { get; set; }

    [Parameter]
    public string Text { get; set; }

    private void ModalCancel()
    {
        _blazoredModalInstance.CancelAsync();
    }

    private void ModalOk()
    {
        _blazoredModalInstance.CloseAsync(ModalResult.Ok(true));
    }
}